/*=========================================================================




=========================================================================*/

/* Styles commum 
=========================================================================*/
body {
	background: white;
	font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 80%;
	margin-left : 10%;
}

p{
	margin : 5px;
	padding : 5px;
	line-height : 1em;
	/*overflow: hidden;*/
}

h2:first-letter {
	font-weight: bold;
	font-size : 2em;
}

/* Style de la navigation 
=========================================================================*/
#nav {
	list-style-type: none;
	padding : 0;
	margin: 5px 0 50px 0;
}

#nav li {
	padding : 0px 20px 0px 20px;
	display: inline;	/* display : block ou inline*/
}

#nav li a {
	color : black;
}

#nav li a:hover {
	/*font-weight: bold;
	color : black;*/
	text-decoration: none;
	text-shadow:  grey 2px 2px 2px;
}

/* Style des billets
=========================================================================*/
#page_title {
	font-family: "Georgia", "Times New Roman", serif;
	border-bottom: 2px solid orange;
	font-size : 4em;
	padding-bottom : 10px;
	text-transform: capitalize;
	text-shadow:  #DDD 5px 5px 2px;
	}

#titre_billet {
	border-bottom: 1px solid orange;
	font-size : 2em;
}

#date {
	font-size : 0.9em;
	font-style: italic;
	text-align: left;
	}
	
#contenu {
	display: inline;
}

article:first-letter {
	font-size : 2em;
	color :red;
}

article img{
	width:400px;
	display: inline;
	float: right;
	
}




/* Style des liens 
=========================================================================*/
a{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



