/*=========================================================================

		TP NOTE HTML CSS PHP MYSQL 2013-2014
									Gaël A - zoski@free.fr

=========================================================================*/

/* Styles commums
=========================================================================*/
body {
	background: white;
	font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 80%;
	margin-left : 10%;
	margin-bottom : 15px;
}

p {
	margin : 5px;
	padding : 5px;
	line-height : 1em;
}

h2 {
	font-weight: bold;
	font-size : 2em;
}

#page_title {
	font-family: "Georgia", "Times New Roman", serif;
	border-bottom: 2px solid orange;
	font-size : 4em;
	padding-bottom : 10px;
	text-transform: capitalize;
	text-shadow:  #DDD 5px 5px 2px;
}

/* Style de la navigation 
=========================================================================*/
nav {
	list-style-type: none;
	padding : 0;
	margin: 5px 0 50px 0;
}

nav li {
	padding : 0px 20px 0px 20px;
	display: inline;	/* display : block ou inline*/
}

nav li a {
	color : black;
}

nav li a:hover {
	text-decoration: none;
	text-shadow:  grey 2px 2px 2px;
}

/* Style de l'index  
=========================================================================*/
article.accroche {
	display: inline;	
}

aside img {
	width:50%;
	float:left;
	padding-bottom:1em;
	padding-right:1em;
}

/* Style des billets
=========================================================================*/
article {
    clear: both;
}

#titre_billet {
	display: block;
	border-bottom: 1px solid orange;
	font-size : 2em;
}

#date {
	font-size : 0.9em;
	font-style: italic;
	text-align: left;
	}
	
#contenu {
	width: 60%;
}

#media {
	width:35%;
	float:right;
	padding-bottom:1em;
}

#contenuSansImage {
	display: block;
	width: 100%;
}


/* Style de la page de contact 
=========================================================================*/
#map {
	text-align : center;
}

/* Style du footer
=========================================================================*/
footer {
	margin-top : 3em;
	text-align : center;
	border-top: 2px solid orange;
	clear: both; /* Permet de retirer le comportement flotant de l'objet pour pas 
	    qu'il glisse sous l'image (en gros)*/
	}

/* Style de l'administration 
=========================================================================*/
fieldset {
	color: grey;
	border-color : orange;
	margin-bottom : 10px;
}

legend {
	color : orange;
}

table#post td {
	width: 45%;
}

table#modif td {
	padding: 0 10px 0 10px;
}




/* Style des liens 
=========================================================================*/
a{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



